# This is a basic workflow to help you get started with Actions

name: Bot Actions

# Controls when the workflow will run
on:
  schedule:
    - cron: "0 4 * * 0,3"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  bot:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout
        uses: actions/checkout@v4

      # Make sure GH CLI is configured correctly
      - name: Install and Initalize GitHub CLI
        run: |
          echo ${{ secrets.BOT_TOKEN }} > token.txt
          gh auth login --with-token < token.txt
          gh auth status
      
      - name: AI work
        run: echo TODO':' Install AI CLI (such as OpenCode) and use it. 