# This is a basic workflow to help you get started with Actions

name: Bot Actions

# Controls when the workflow will run
on:
  schedule:
    - cron: "0 4 * * 0,3"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  bot:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout
        uses: actions/checkout@v4

      # Make sure GH CLI is configured correctly
      - name: Install and Initalize GitHub CLI
        run: |
          echo ${{ secrets.BOT_TOKEN }} > token.txt
          gh auth login --with-token < token.txt
          gh auth status
          
      - name: Show working information
        run: |
          curl -X POST -H "Content-Type: application/json" -d '{"msg_type":"text","content":{"text":"Bot 打工中，请稍候……（爱来自GitHub Actions）"}}' https://open.larksuite.com/open-apis/bot/v2/hook/${{ secrets.LARK_WEBHOOK_SECRET }}
      
      - name: Install and initalize OpenCode
        run: |
          curl -fsSL https://opencode.ai/install | bash
          

      - name: AI work
        run: |
          echo ${GITHUB_RUN_ID} > runner.txt
          echo ${{ secrets.LARK_WEBHOOK_SECRET }} > lark.txt
          opencode run "现在开始打工，要求见 @AGENTS.md" -m opencode/big-pickle
        env:
          OPENCODE_API_KEY: ${{ secrets.OPENCODE_API_KEY }}

      - name: Finish work information
        run: |
          curl -X POST -H "Content-Type: application/json" -d '{"msg_type":"text","content":{"text":"Bot 打工完成。前往 https://github.com/ShihaoShen-Bot/ShihaoShen-Bot/actions/workflows/bot.yml 获取更多信息。"}}' https://open.larksuite.com/open-apis/bot/v2/hook/${{ secrets.LARK_WEBHOOK_SECRET }}
