name: Bot Actions

on:

  schedule:
    - cron: "0 4 * * 0,3"

  workflow_dispatch:

jobs:

  bot:
  
    runs-on: ununtu-latest
    
    steps:
    
      - name: Checkout
        uses: actions/checkout@v4

      - name: Initialize GitHub CLI
        run: |
          echo ${{ secrets.BOT_TOKEN }} > token.txt
          gh auth login --with-token < token.txt # 这太逆天了
          # gh auth status
          rm -f token.txt # 过河拆桥是吧
          
      # - name: Show working information
      #   run: |
      #     curl -X POST -H "Content-Type: application/json" -d '{"msg_type":"text","content":{"text":"Bot 打工中，请稍候……（爱来自GitHub Actions）"}}' https://open.larksuite.com/open-apis/bot/v2/hook/${{ secrets.LARK_WEBHOOK_SECRET }}

      # - name: Install OpenCode for Windows
      #   run: npm i -g opencode-ai
      
      - name: Install and initialize OpenCode
        run: curl -fsSL https://opencode.ai/install | bash

      - name: Enable OpenSpec for supported repositories
        run: npm install -g @fission-ai/openspec@latest

      - name: Enable Spec Kit for supported repositories
        run: uv tool install specify-cli --from git+https://github.com/github/spec-kit.git
        
      # Available Free OpenCode-hosted Models: (Updated on 2/20/2026)
      # big-pickle (Always free)
      # glm-5-free
      # minimax-m2.5-free
      # trinity-large-preview-free
      
      - name: AI work
        run: |
          echo ${GITHUB_RUN_ID} > runner.txt
          echo ${{ secrets.LARK_WEBHOOK_SECRET }} > lark.txt
          opencode run "现在开始打工，要求见 @AGENTS.md" -m opencode/glm-5-free
        env:
          OPENCODE_API_KEY: ${{ secrets.OPENCODE_API_KEY }}

      # - name: Finish work information
      #   run: |
      #     curl -X POST -H "Content-Type: application/json" -d '{"msg_type":"text","content":{"text":"Bot 打工完成。前往 https://github.com/ShihaoShen-Bot/ShihaoShen-Bot/actions/workflows/bot.yml 获取更多信息。"}}' https://open.larksuite.com/open-apis/bot/v2/hook/${{ secrets.LARK_WEBHOOK_SECRET }}
